<ng-template #noTodos>
    <p>No todo data to show.</p>
</ng-template>

<ng-container *ngIf="todos$ | async as todos">
    <div *ngIf="todos.length || (todosCount$ |async); else noTodos">
        <div>
            <button (click)="getFilteredTodos('all')">All Todos</button>
            <button (click)="getFilteredTodos('completed')">Completed Todos</button>
            <button (click)="getFilteredTodos('pending')">Pending Todos</button>
    </div>
        <p>Current Todos:</p>
       <ul>
            <li *ngFor="let todo of todos">
                <a [routerLink]="[todo.id]" routerLinkActive="active">
                   {{todo.title}} 
                </a>
            </li>   
        </ul>  
    </div>
</ng-container>
<router-outlet></router-outlet>